.container {
  height: calc(100vh - 2rem);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content;
}

.messages {
  overflow-y: scroll;

  * {
    overflow-anchor: none;
  }
}

.anchor {
  overflow-anchor: auto;
  height: 1px;
}
